In [124]:
import numpy as np;
import pandas as pd;
import csv
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import re

pd.options.mode.chained_assignment = None

In [173]:
file = "bbc-news-data.csv"
read_file = pd.read_csv(file,sep="\t") 
                                                                
read_file.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
read_file = read_file.dropna().drop_duplicates()

#filtered_data = read_file[read_file['category'] == 'sport']

read_file.replace(",","",regex=True,inplace=True)
read_file.replace(r'\s+', ' ', regex=True, inplace=True)
read_file['title'] = read_file['title'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

#read_file.at[0, 'content'] = read_file.at[0, 'content'].replace('US', 'United States')

#read_file["content"].replace({"US":"United States","UK":"United Kingdom"},inplace=True)

read_file.replace({'content':{'content':1, 'US':"UNITED STATES"}}, inplace = True)




read_file.head(10)

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BAs profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
5,business,006.txt,Japan narrowly escapes recession,Japan's economy teetered on the brink of a te...
6,business,007.txt,Jobs growth still slow in the US,The US created fewer jobs than expected in Ja...
7,business,008.txt,India calls for fair trade rules,India which attends the G7 meeting of seven l...
8,business,009.txt,Ethiopias crop production up 24,Ethiopia produced 14.27 million tonnes of cro...
9,business,010.txt,Court rejects 280bn tobacco case,A US government claim accusing the country's ...